body {
    background: linear-gradient(to right, #63716f, #7b8bd0);
    min-height: 100vh;
    margin: 0;
    font-family:  sans-serif;
    color: #070707;
}

h2 {
    margin-top: 40px;
    margin-bottom: 30px;
    color: #fff;
}

#weather{
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
